body {
    font-family: 'Merriweather', sans-serif;
    font-size: 16px;
}

ul[class*="inline"] {
    padding-left: 0;
}

[class*="inline"] {
    display: inline-block;
    min-width: 2rem;
}

* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 640px;
    padding: 0 15px;
    margin: 0 auto;
}

.simple-read__body {
    padding-top: 50px;
}

.simple-read__content {
    position: relative;
    z-index: 1;
    line-height: 1.6;
    overflow: hidden;
}

p {
    margin: 25px 0;
    line-height: 1.6;
}

a {
    color: #5797d3;
}

a:hover {
    color: #86bef1;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 1.83em;
    margin: 0;
    margin-top: 12px;
}

h3 {
    font-size: 1.18em;
    line-height: 25px;
    padding: 0;
}

pre {
    border: 1px solid #cacdd1;
    background: #eceef0;
    padding: 15px;
    overflow: auto;
    height: 300px;
}

table {
    margin: 1.5em 0;
    width: 100%;
    border: 1px solid #d5d5d5;
    border-collapse: collapse;
}

table td, table th {
    padding: 6px 12px 9px;
    border: 1px solid #d5d5d5;
    vertical-align: top;
    line-height: 1.5;
}

blockquote {
    padding: 15px;
    background: #f3f3f3;
    margin-left: 0;
    margin-right: 0;
    border-left: 4px solid #737373;
}

figure {
    margin: 0;
    max-width: 100%;
    margin: 25px 0;
    display: inline-flex;
}

figure.MFaz5 {
    display: none;
}

iframe {
    border: none;
    width: 100%;
    max-height: 400px;
}

video {
    max-width: 100%;
    max-height: 400px;
}

.interface {
    position: fixed;
    right: 0;
    top: 15px;
    width: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.interface__btn {
    width: 35px;
    height: 35px;
    border: 1px solid #aaa;
    color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    transition: color .2s, border-color .2s;
    cursor: pointer;
    background: none;
}

.interface__btn:hover {
    border-color: #333;
    color: #333;
}

.interface__btn:not(:first-child) {
    margin-left: 15px;
}

.interface__btn_next, .interface__btn_prev {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 70px;
    height: 70px;
    outline: none;
}

.interface__btn_next {
    right: 15px;
}

.interface__btn_prev {
    left: 15px;
}

.interface__btn_next path, .interface__btn_prev path {
    fill: #e0e0e0;
}

.interface__btn_next:hover path, .interface__btn_prev:hover path {
    fill: rgb(255, 224, 0, 0.8);
}

.interface__btn_bookmarks {
    transition: border .3s, outline .3s;
}

.interface__btn_bookmarks path {
    transition: fill .3s;
}

.interface__btn_bookmarks_active {
    border-color: #c74325;
    outline-color: #c74325;
}

.interface__btn_bookmarks_active path:not([fill="none"]) {
    fill: #c74325;
}

.interface__btn_bookmarks_active:hover {
    border-color: #c74325;
}

.interface__left {
    margin-right: auto;
}

.interface__left-btn {
    transition: color .2s;
    cursor: pointer;
    background: none;
    color: #aaa;
    border: none;
    font-size: 16px;
    display: block;
    margin: 5px 0;
    outline: none;
}

.interface__left-btn:hover {
    color: #333;
}

.interface__btn_voice {
    transition: border .3s, outline .3s;
}

.interface__btn_voice path {
    transition: fill .3s;
}

.interface__btn_voice[data-voice="active"] {
    border-color: #e2be39;
    outline-color: #e2be39;
}

.interface__btn_voice[data-voice="active"] path {
    fill: #e2be39;
}

.bookmarks, .simular {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity .3s, visibility .3s;
    z-index: 2;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.bookmarks__content, .simular__content {
    position: absolute;
    background: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    width: 610px;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    overflow-y: auto;
}

.bookmarks__title, .simular__title {
    font-size: 24px;
    text-align: center;
}

.bookmarks__list, .simular__list {
    padding: 0;
    list-style: none;
}   

.bookmarks__item, .simular__item {
    margin: 20px 0;
}

.simular__item {
    padding-bottom: 15px;
}

.simular__item:not(:last-child) {
    border-bottom: 1px solid #d9d9d9;
}

.simular__item-title {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.simular__item-desc {
    margin-top: 0;
    margin-bottom: 0;
}

.simular__item-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-top: 7px;
}

.simular__item-meta {
    color: #9597a3;
}

.bookmarks__link, .simular__link {
    line-height: 1.4;
    color: #000000;
    text-decoration: none;
    display: inline-flex;
}

.bookmarks__link {
    align-items: center;
}

.simular__link {
    align-items: flex-start;
}

.bookmarks__link:hover, .simular__link:hover {
    color: #000;
}

.simular__link {
    margin-bottom: 15px;
}

.bookmarks__icon {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.simular__img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.close-btn {
    z-index: 1;
    position: absolute;
    right: 16px;
    top: 31px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.close-btn path {
    fill: #d1d1d1;
    transition: fill .2s;
}

.close-btn:hover path {
    fill: #ffffff;
}

.close-btn:focus path {
    fill: #ffffff;
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

section[style*="background-image"] {
    background-size: 100%;
    height: 340px;
}

.context-menu {
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
    padding: 5px;
    border-radius: 4px;
    z-index: 1;
}

.context-menu__btn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 0 3px;
}

.context-menu__icon {
    width: 20px;
}

.message {
    position: fixed;
    z-index: 2;
    bottom: 50px;
    left: 50%;
    max-width: 600px;
    padding: 10px;
    background: #353535;
    color: #f7f7f7;
    opacity: 0;
    animation: fadeInOut 3s forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.mg-story__meta {
    display: block;
}

.loading {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-left: 3px solid sandybrown;
    border-right: 3px solid sandybrown;
    border-top: 3px solid sandybrown;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    z-index: 3;
    animation: rotate 0.8s infinite linear;
    width: 40px;
    height: 40px;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.pages-count {
    position: fixed;
    right: 15px;
    bottom: 15px;
    font-size: 14px;
    color: #999;
    z-index: 2;
    font-family: sans-serif;
}

/*Yandex news*/
.news-snippet-source-info__time {
    margin: 0 5px;
}