body {
    font-family: 'Merriweather', sans-serif;
    font-size: 16px;
}

ul[class*="inline"] {
    padding-left: 0;
}

[class*="inline"] {
    display: inline-block;
    min-width: 2rem;
}

* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 640px;
    padding: 0 15px;
    margin: 0 auto;
}

.simple-read__body {
    padding-top: 50px;
}

.simple-read__content {
    position: relative;
    z-index: 1;
    line-height: 1.6;
    overflow: hidden;
}

p {
    margin: 20px 0;
    line-height: 1.6;
}

a {
    color: #5797d3;
}

a:hover {
    color: #86bef1;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 1.8em;
}

pre {
    border: 1px solid #cacdd1;
    background: #eceef0;
    padding: 15px;
    overflow: auto;
}

table {
    margin: 1.5em 0;
    width: 100%;
    border: 1px solid #d5d5d5;
    border-collapse: collapse;
}

table td, table th {
    padding: 6px 12px 9px;
    border: 1px solid #d5d5d5;
    vertical-align: top;
    line-height: 1.5;
}

blockquote {
    padding: 15px;
    background: #f3f3f3;
    margin-left: 0;
    margin-right: 0;
    border-left: 4px solid #737373;
}

figure {
    margin: 0;
    max-width: 100%;
    margin: 20px 0;
    display: inline-flex;
}

figure.MFaz5 {
    display: none;
}

iframe {
    border: none;
    width: 100%;
    max-height: 400px;
}

video {
    max-width: 100%;
    max-height: 400px;
}

.interface {
    position: fixed;
    right: 0;
    top: 15px;
    width: 100%;
    padding: 0 15px;
    display: flex;
}

.interface__btn {
    width: 35px;
    height: 35px;
    border: 1px solid #aaa;
    color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    transition: color .2s, border-color .2s;
    cursor: pointer;
    background: none;
}

.interface__btn:hover {
    border-color: #333;
    color: #333;
}

.interface__btn:not(:first-child) {
    margin-left: 15px;
}

.interface__btn_bookmarks {
    transition: border .3s, outline .3s;
}

.interface__btn_bookmarks path {
    transition: fill .3s;
}

.interface__btn_bookmarks_active {
    border-color: #c74325;
    outline-color: #c74325;
}

.interface__btn_bookmarks_active path:not([fill="none"]) {
    fill: #c74325;
}

.interface__btn_bookmarks_active:hover {
    border-color: #c74325;
}

.interface__btn_bookmarks-popup {
    margin-right: auto;
    font-size: 16px;
    border: none;
    width: auto;
    outline: none;
}

.interface__btn_voice {
    transition: border .3s, outline .3s;
}

.interface__btn_voice path {
    transition: fill .3s;
}

.interface__btn_voice[data-voice="active"] {
    border-color: #e2be39;
    outline-color: #e2be39;
}

.interface__btn_voice[data-voice="active"] path {
    fill: #e2be39;
}

.bookmarks {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity .3s, visibility .3s;
    z-index: 2;
}

.bookmarks_hide {
    opacity: 0;
    visibility: hidden;
}

.bookmarks__content {
    position: absolute;
    background: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    width: 610px;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    overflow-y: auto;
}

.bookmarks__title {
    font-size: 24px;
    text-align: center;
}

.bookmarks__list {
    padding: 0;
    list-style: none;
}   

.bookmarks__item {
    margin: 20px 0;
}

.bookmarks__link {
    line-height: 1.4;
    color: #000000;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.bookmarks__link:hover {
    color: #000;
}

.bookmarks__icon {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.bookmarks__close {
    z-index: 1;
    position: absolute;
    right: 16px;
    top: 21px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.bookmarks__close path {
    fill: #d1d1d1;
    transition: fill .2s;
}

.bookmarks__close:hover path {
    fill: #ffffff;
}

.bookmarks__close:focus path {
    fill: #ffffff;
}


.mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

section[style*="background-image"] {
    background-size: 100%;
    height: 340px;
}